body {
  background: black;
  font-family: "Lato", sans-serif;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.3);
}
.card {
  width: 210px;
}
.card-img-top {
  height: 100px;
}
.fontSecondary {
  font-family: "Playfair Display", serif;
}
.fontSize {
  font-size: 15px;
}
